*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

#section{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pexels-suzy-hazelwood-1629236.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

#header{ 
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}

nav ul li{
    display: inline-block;
    padding: 12px 16px;
}

h2 a{
    color: #fff;
    text-decoration-thickness: 5px;
text-underline-offset: 7px;
text-decoration-color: aqua;
}

h2 a:hover{
    
    color: aqua;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 12px 14px;
}

nav ul li a:hover{
    color: aqua;
}

.text{
    margin-top: 5%;
    text-align: center;
}

.text h1{
    font-size: 56px;
    color:aqua;
    margin-bottom: 10px;
}
.text p{
    font-size: 20px;
    color:#fff;
    font-weight: 600;   
}
.text button{
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(4, 4, 43);
    background-color: aqua;
    border-radius: 6px;
    outline:none;
    border: 1px solid aqua;
    
}

 nav .class-btn{
    display: none;
}
 
    
 /* #close{
    position: absolute;
    top: 30px;
    left: 30px;
}*/

/*==============ABOUT US=================*/

#About{
    color: #fff;
    padding: 40px 30px;
    background: rgb(6, 6, 34);
    width: 100%;
    height: 100%;

}

.coding img{
    width: 300px;
    height: 300px ;
    border-radius: 20px;
    margin-bottom: 15px;
}

.coding{
    text-align: center;
}

.coding h1
{      font-size: 56px;
    margin-bottom: 15px;
}

span{
    color: aqua;
}

.coding h3
{      font-size: 20px;
    margin-bottom: 15px;
}

#About p{ 
    padding-left: 70px;
    font-size: 20px;
    margin-top: 40px;
}

/*===========Services========*/
#About{
    color: #fff;
    padding: 40px 30px;
    background: rgb(6, 6, 34);
    width: 100%;
    height: 100%;

}

.about{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    
}

.about h1{
    font-size: 56px;
    margin-bottom: 15px;
}

.about p{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}



.about-tn span h1{
    font-size: 56px;
    text-align: center;
}

#text-text {
  margin-left: 50px; 
}
 h3 a {
    font-size: 25px;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 5px;
    text-decoration-color: aqua;
}

 h5{
    font-size: 20px;
}

/*=========contact==============================*/


#form-details{
    text-align: center;
}

#form-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form-details form h2{

    font-size: 26px;
    line-height: 35px;
    padding-bottom: 15px;
    color: #fff;

}

#form-details form input ,
#form-details form textarea{
    
    width: 40%;
    padding: 8px 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid aqua;
    border-radius: 7px;
    background-color: transparent;
    color: #fff;
}

#form-details form button{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(4, 4, 43);
    background-color: aqua;
    border-radius: 6px;
    outline:none;
    border: 1px solid aqua;
    

}
#form-details h1{
    color: aqua;
    margin: 12px 20px;
    margin-bottom: 40px;
}
    
#About{
    color: #fff;
    padding: 40px 30px;
    background-color: rgb(6, 6, 34);
    width: 100%;
    height: 100%;

}

/*============Media Query==============*/

@media(max-width:799px){
    nav ul li {
        
        padding: 8px 10px;
    }

    nav ul li a {
      
        padding: 8px 10px;
    }
    #form-details h1 {

        margin: 5px 6px;
        margin-bottom: 5px;

    }
    #About {
        
        height: 100%;
    }
    
    .text p {
        text-align: initial;
        font-size: 30px;
        margin: 7px 10px;
    }
    .text h1 {
        
        margin-bottom: 20px;
    }
    .coding h3 {
        font-size: 30px;
        
    }
    #About p {
        
        font-size: 25px;
        
    }
}

@media(max-width:499px){

    nav ul li{
        display: block;
        }

        .nav-links{


            position: absolute;
            background: aqua;
            height: 100%;
            width: 200px;
            top: 0;
            right: 0;
            text-align: left;
            z-index: 2;
        }

        #section {
            
            height: 100%;
        }

        #About p {
            padding-left: 10px;
            font-size: 23px;
            margin-top: 40px;
        }
}












